<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="Info" xsi:type="File" fileName="${basedir}/log/info-log.txt" archiveFileName="${basedir}/log/info/{#}.txt" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="400" />
    <target name="errors" layout="${longdate} ${callsite} ${level} ${message}" xsi:type="File" fileName="${basedir}/log/error-log.txt" archiveFileName="${basedir}/log/error/{#}.txt" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="400" />

    <target name="exception" xsi:type="File" fileName="${basedir}/log/exceptionBook.txt" archiveFileName="${basedir}/log/ExceptionBooks/{#}.txt" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="400">
      <layout type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="nested" encode="false">
          <layout type="JsonLayout">
            <attribute name="message" layout="${message}" />
            <attribute name="exception" layout="${exception}" />
          </layout>
        </attribute>
      </layout>
    </target>
    <target name="Mail" xsi:type="Mail" html="true" subject="Error in MobilePayment" body="${message}" to="hiran@unicorn-solutions.com" from="noreply@unicorn-solutions.com" Encoding="UTF-8" smtpUsername="hiran@unicorn-solutions.com" enableSsl="False" smtpPassword="hiran108" smtpAuthentication="Basic" smtpServer="mail.unicorn-solutions.com" smtpPort="25" />

  </targets>
  <rules>
    <logger name="*" level="Info" writeTo="Info" />
    <logger name="*" minlevel="Error" writeTo="errors" />
    <logger name="*" level="Fatal" writeTo="Mail" />
    <logger name="*" level="Error" writeTo="exception" />
  </rules>
</nlog>
